<div class="container">

     <!--Grid row-->
     <div class="row justify-content-center">

          <!--Grid column-->
          <div class="col-md-5 mb-4">

               <!-- Form -->
               <form class="form-inline ">
                    <input class="form-control form-control-sm mr-2 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
               </form>
               <!-- Form -->

          </div>

     </div>
     <!--Grid row-->

</div>
<!-- Footer Elements -->
<!-- Copyright -->
<div class="footer-copyright text-center py-3">
     © 2020 Copyright:
     <a href=""> bohmaxim.com</a>
</div>
<!-- Copyright -->
